@CHARSET "UTF-8";

body{
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select: none; 
	-khtml-user-select: none; 
	user-select: none; 
}
.slider_{
	height: 100%;
    position: fixed;
    z-index: 990;
    background: #002d75;
    box-shadow: 0 0 10px 0 #000931;
}

#lunbobox {
	width: 100%;
	height: 100%;
	position:relative;
}
.lunbo {
	width:100%;
	height:100%;
}
.lunbo>div{
	width:100%;
	height:100%;
	display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
}
#lunbobox ul {
	position:absolute;
	bottom:10px;
	right:calc(50% - 26px);
	z-index:5;
}
#lunbobox ul li {
	cursor:pointer;
	width:10px;
	height:4px;
	border:1px solid #017097;
	float:left;
	list-style:none;
	background:#017097;
	text-align:center;
	margin:0px 5px 0px 0px;
}
#toleft {
	display:none;
	width:30px;
	height:100px;
	font-size:40px;
	line-height:100px;
	text-align:center;
	color:#f4f4f4;
    position:absolute;
	top:0px;
	left:0px;
	cursor:pointer;
	z-index:500;
	opacity:0.4;
}
#toright {
	display:none;
	width:30px;
	height:100px;
	font-size:40px;
	line-height:100px;
	text-align:center;
	color:#f4f4f4;
    position:absolute;
	top:0px;
	right:0px;
	cursor:pointer;
	z-index:500;
	opacity:0.4;
}

@media screen and (max-width: 10000px){
	.slider_l{
	    left: -946px;
	    width: 946px;
	    display:none
	}
	.slider_r{
		right:-473px;
	    width: 473px;
	    display:none
	}
	.f1 {
	    font-size: 18px;
	}
	.f2 {
    font-size: 16px;
	}
	.f2-5 {
    font-size: 15px;
	}
	.f3 {
    font-size: 14px;
	}
	.fn1{
		font-size: 22px;
		font-weight:600;
	}
	.fn2{
		font-size: 20px;
		font-weight:600;
	}
	.lefttoday_number>div>img,.lefttoday_number #slider__ li>div>div>img{
		width:50px;
		height:50px;
		margin-right:12px;
	}
	.aleftboxttop .lefttoday_number>div>img{
		width:40px;
		height:40px;
		margin-right:10px;
	}
	.xfq{
		width: 80px;
	    height: 80px;
	    background: white;
	    position: absolute;
	    left: 17%;
	    margin-top: -60px;
	    border-radius: 50%;
	    box-shadow: rgb(215, 237, 255) 0px 0px 2.5em;
	    overflow: hidden;
	}
	.pt2{padding-top: 1.4%; }
	.list_ .libd .pic{
	    width: 94px;
	    height: 124px;
	    margin-right: 16px;
	    flex-shrink: 0;
	}
	.list_ .libd .info{
		display: flex;
	    flex-direction: column;
	    justify-content: space-around;
	    height: 124px;
	}
	.list_ .lihd .lilab {
	    position: absolute;
	    right: 10px;
	    width: 14px;
	    background: red;
	    padding: 2px 7px 6px;
	    border-radius: 0 0 13px 13px;
	    line-height: 17px;
	    margin-top: -15px;
	    font-weight: 600;
	}
	.list_ .lihd .rsn{
	    margin-left: 44px;
	}
	.list_ .lihd ._ic{
	   	width: 28px;
    	position: absolute;
    	margin: -4px 4px 4px;
	}
	.ptm{
	padding-top: 3%;
	}
	.ptm1{
	padding-top: 2.6%;
	}
	.ptm__{
	padding-top: 0.9%;
	}
	#fxd_slider .list_ .libd .info{
		display: flex;
	    flex-direction: column;
	    justify-content: space-around;
	    height: 90px;
	}
	#fxd_slider .list_ .lihd .lilab {
	    background: red;
	    margin-top: -17px;
	}
	#tzsb_slider .list_ .libd .info{
		display: flex;
	    flex-direction: column;
	    justify-content: space-around;
	    height: 100px;
	}
	#pub_slider .list_ .libd .info{
		display: flex;
	    flex-direction: column;
	    justify-content: space-around;
	    height: 140px;
	}
	.tith1{ width: 45.3%; text-align: center; padding-top: 16px; font-weight: bold; letter-spacing:8px; font-size: 32px;}
	.t_info_b .pic_ .pic{width: 110px;height:140px;margin: 10px;}
	#fxdxq_slider #qhxq_ctt .head>div,#aqzs_slider #qhxq_ctt .head>div{width:94px;}
	.arightboxtop .head>div{width:80px;}
	.slider_ .tab_>div,.amiddboxttop .tab_>div{padding: 10px 0px 10px 10px;}
	.amiddboxttop .tab_{margin: 1% 1% 0;}
	#cqmnt_ctt img.ic_{width: 26px;height: 26px;}
	#cqmnt_ctt .btmsth>div>img{width: 22px;height: 22px;margin-right: 12px;}
	#fxdlb_ctt .list_b>div.list_li>div{padding: 6px;line-height: 24px;border-left: 1px solid #638192;}
	
	.aqzs_b_l .tab_{
		margin: 14% 0 10%;
    }
	.aqzs_b_l .tab_ .capChart{
		padding: 45px;
	    width: 70px;
	    height: 70px;
	}
	.aqzs_b_l .tab_ .capChart .capChart_t.capChart_t_l{
	    margin: 25px 0 0 -120px;
	}
	.aqzs_b_l .tab_ .capChart .capChart_t.capChart_t_b{
		    margin: 128px 0 0 8px;
	}
	.aqzs_b_l .tab_ .capChart .capChart_t.capChart_t_r{
	        margin: 25px 0 0 133px;
	}
	.aqzs_b_l .tab_ .capChart .capChart_t.capChart_t_t{
	    margin: -81px 0 0 8px;
	}
	.aqzs_b_l .tab_ .capChart .capChart_q.capChart_t_l{
		width: 20px;
	    height: 20px;
	    margin: 25px 0 0 -56px;
	}
	.aqzs_b_l .tab_ .capChart .capChart_q.capChart_t_b{
		width: 20px;
	    height: 20px;
		margin: 104px 0 0 25px;
	}
	.aqzs_b_l .tab_ .capChart .capChart_q.capChart_t_r{
		width: 20px;
	    height: 20px;
	    margin: 25px 0 0 104px;
	}
	.aqzs_b_l .tab_ .capChart .capChart_q.capChart_t_t{
	    width: 20px;
	    height: 20px;
	    margin: -56px 0 0 25px;
	}
	.aqzs_b_l .tab_ .capChart .capChart_ .fn1{padding-top: 14px;line-height: 20px;}
	
	.videoWindow{
		width:760px;
		height:560px;
		margin-left: calc(50% - 380px);
		margin-top: 10%;
	}
	
	
}
@media screen and (max-width: 1366px){
	.slider_l{
	    left: -840px;
	    width: 840px;
	    display:none
	}
	.slider_r{
		right:-420px;
	    width: 420px;
	    display:none
	}
	.f1 {
	    font-size: 16px;
	}
	.f2 {
    font-size: 14px;
	}
	.f2-5 {
    font-size: 13px;
	}
	.f3 {
    font-size: 12px;
	}
	.fn1{
		font-size: 16px;
		font-weight:600;
	}
	.fn2{
		font-size: 14px;
		font-weight:600;
	}
	.lefttoday_number>div>img,.lefttoday_number #slider__ li>div>div>img{
		width:32px;
		height:32px;
		margin-right:8px;
	}
	.aleftboxttop .lefttoday_number>div>img{
		width:28px;
		height:28px;
		margin-right:8px;
	}
	.xfq{
		width: 64px;
	    height: 64px;
	    background: white;
	    position: absolute;
	    left: 17%;
	    margin-top: -54px;
	    border-radius: 50%;
	    box-shadow: rgb(215, 237, 255) 0px 0px 2.5em;
	    overflow: hidden;
	}
	.pt2{padding-top: 1.0%; }
	
	.list_ .libd .pic{
    width: 74px;
    height: 96px;
    margin-right: 10px;
    flex-shrink: 0;
	}
	.list_ .libd .info{
		display: flex;
	    flex-direction: column;
	    justify-content: space-around;
	    height: 80px;
	}
	.list_ .lihd .lilab {
    position: absolute;
    right: 10px;
    width: 14px;
    background: red;
    padding: 2px 5px 5px;
    border-radius: 0 0 11px 11px;
    line-height: 15px;
    margin-top: -13px;
}
	.list_ .lihd .rsn{
	    margin-left: 36px;
	}
	.list_ .lihd ._ic{
	   	width: 22px;
    	position: absolute;
    	margin: -4px 4px 4px;
	}
	.ptm{
	padding-top: 2.1%;
	}
	 .ptm1{
	padding-top: 1.9%;
	}   
	.ptm__{
	padding-top: 1%;
	}
	#fxd_slider .list_ .libd .info{
		display: flex;
	    flex-direction: column;
	    justify-content: space-around;
	    height: 60px;
	}
	#fxd_slider .list_ .lihd .lilab {
	    background: red;
	    margin-top: -14px;
	}
	#tzsb_slider .list_ .libd .info{
		display: flex;
	    flex-direction: column;
	    justify-content: space-around;
	    height: 80px;
	}
	#tzsb_slider .list_ .libd .info{
		display: flex;
	    flex-direction: column;
	    justify-content: space-around;
	    height: 110px;
	}
	.tith1{ width: 42.3%; text-align: center; padding-top: 16px; font-weight: bold; letter-spacing:8px; font-size:20px;}
	.t_info_b .pic_ .pic{width: 90px;height:110px;margin: 8px;}
	#fxdxq_slider #qhxq_ctt .head>div,#aqzs_slider #qhxq_ctt .head>div{width:86px;}
	.arightboxtop .head>div{width:60px;}
	.slider_ .tab_>div,.amiddboxttop .tab_>div{padding: 7px 0 7px 8px;}
	.amiddboxttop .tab_{margin: 0.7% 1% 0;}
	#cqmnt_ctt img.ic_{width: 22px;height: 22px;}
	#cqmnt_ctt .btmsth>div>img{width:18px;height: 18px;margin-right: 10px;}
	#fxdlb_ctt .list_b>div.list_li>div{padding: 4px 6px;line-height: 22px;border-left: 1px solid #638192;}
	
	.aqzs_b_l .tab_{
		margin: 13% 0 10%;
    }
	.aqzs_b_l .tab_ .capChart{
		padding: 35px;
	    width: 60px;
	    height: 60px;
	}
	.aqzs_b_l .tab_ .capChart .capChart_t.capChart_t_l{
	    margin: 20px 0 0 -105px;
	}
	.aqzs_b_l .tab_ .capChart .capChart_t.capChart_t_b{
		margin: 110px 0 0 5px;
	}
	.aqzs_b_l .tab_ .capChart .capChart_t.capChart_t_r{
	    margin: 21px 0 0 115px;
	}
	.aqzs_b_l .tab_ .capChart .capChart_t.capChart_t_t{
	    margin: -70px 0 0 5px;
	}
	.aqzs_b_l .tab_ .capChart .capChart_q.capChart_t_l{
		width:18px;
		height:18px;
	    margin: 21px 0 0 -44px;
	}
	.aqzs_b_l .tab_ .capChart .capChart_q.capChart_t_b{
		width:18px;
		height:18px;
		margin: 86px 0 0 21px;
	}
	.aqzs_b_l .tab_ .capChart .capChart_q.capChart_t_r{
		width:18px;
		height:18px;
	    margin: 21px 0 0 86px;
	}
	.aqzs_b_l .tab_ .capChart .capChart_q.capChart_t_t{
	    width: 18px;
	    height: 18px;
	    margin: -44px 0 0 21px;
	}
	.aqzs_b_l .tab_ .capChart .capChart_ .fn1{padding-top: 11px;line-height: 18px;}
	
	.videoWindow{
		width:640px;
		height:460px;
		margin-left: calc(50% - 320px);
		margin-top: 7%;
	}
	
}
.show_{
	display: unset;
}


/*轮播*/
#slider-wrap,#slider-wrap2{
	width:100%;
	height:100%;
	position:relative;
	overflow:hidden;
}

#slider-wrap ul#slider__,#slider-wrap2 ul#slider__2{
	width:100%;
	height:100%;
	display: flex;
	position:absolute;
	top:0;
	left:0;		
}

#slider-wrap ul#slider__ li,#slider-wrap2 ul#slider__2 li{
	float:left;
	position:relative;
	width:100%;
	height:100%;
}

#slider-wrap ul#slider__ li > div,#slider-wrap2 ul#slider__2 li > div{
	display: flex;
    flex-wrap: wrap;
    height: 100%;
}

#slider-wrap ul#slider__ li i,#slider-wrap2 ul#slider__2 li i{
	text-align:center;
	line-height:400px;
	display:block;
	width:100%;
	font-size:90px;	
}


/*btns*/
.btns{
	position:absolute;
	width:50px;
	height:60px;
	top:50%;
	margin-top:-25px;
	line-height:57px;
	text-align:center;
	cursor:pointer;	
	background:rgba(0,0,0,0.1);
	z-index:100;
	
	
	-webkit-user-select: none;  
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-ms-user-select: none;
	
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

.btns:hover{
	background:rgba(0,0,0,0.3);	
}

#next{right:-50px; border-radius:7px 0px 0px 7px;background: #ffffff45;}
#previous{left:-50px; border-radius:0px 7px 7px 7px;background: #ffffff45;}
#counter{
	top: 30px; 
	right:35px; 
	width:auto;
	position:absolute;
}

#slider-wrap.active #next{right:0px;}
#slider-wrap.active #previous{left:0px;}


/*bar*/
#pagination-wrap,#pagination-wrap2{
	min-width:60px;
	margin-top:72%;
	margin-left: auto; 
	margin-right: auto;
	height:15px;
	position:relative;
	text-align:center;
}
#pagination-wrap:hover,#pagination-wrap2:hover{cursor: default;}
#pagination-wrap ul ,#pagination-wrap2 ul{
	width:100%;
}

#pagination-wrap ul li,#pagination-wrap2 ul li{
	margin: 0 4px;
	display: inline-block;
	width:5px;
	height:5px;
	border-radius:50%;
	background:#fff;
	opacity:0.5;
	position:relative;
  top:0;
}

#pagination-wrap ul li.active,#pagination-wrap2 ul li.active{
  width: 7px;
    height: 7px;
    top: 1px;
    opacity: 0.8;
	box-shadow:rgba(0,0,0,0.1) 1px 1px 0px;	
}

/*ANIMATION*/
#slider-wrap ul, #pagination-wrap ul li,#slider-wrap2 ul, #pagination-wrap2 ul li{
	-webkit-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-moz-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-o-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-ms-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	transition: all 0.3s cubic-bezier(1,.01,.32,1);	
}

.left2_table li{
	background: rgba(2, 54, 108, 0.48) url(${ctx}/static/model/vd2/img/icosjx.png) no-repeat top left;cursor: pointer;
}

::-webkit-scrollbar-track{
    background-color: #ffffff00;
}

.arightboxtop .list_ .libd .info {
    color: #00fff6;
    text-align:left;
}

.search_inp input::-webkit-input-placeholder { /* WebKit browsers */
  color: rgb(214, 214, 214);
}

.search_inp input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
　　color:rgb(214, 214, 214);
}

.search_inp input::-moz-placeholder { /* Mozilla Firefox 19+ */
　　color:rgb(214, 214, 214);
}

.search_inp input:-ms-input-placeholder { /* Internet Explorer 10+ */
　　color:rgb(214, 214, 214);
}

#mapChart{
	background-color: rgba(169, 154, 118, 0)!important
}