*{font-family:"微软雅黑";font-size:14px;}
body{
	background-color: #fafafa
}
.fl{float: left;}
.f_blue{color: #00568e;font-weight: bold;}
.bggrey{background-color: #fafafa;}
.box{width:100%; margin-top: -20px;}
@media only screen and (min-width: 1320px) and (max-width: 1366px) {
	.box{width:98%; margin: auto;}
}
.box1{
	overflow: hidden;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 10px;
	box-shadow: 2px 2px 5px #dedede;
	margin: 0 15px 30px 15px ;
	}
.box1 div.title{
	text-indent: 1em;
	margin: 0 20px;
	border-bottom: 1px dashed #ddd;
	font-size: 18px
	}
.box1 div.title h5{
	font-size: 16px
	}
.box1 h5{margin: 0; line-height: 45px;}
.count{overflow: hidden; width: 420px; margin:20px auto;}
.count img{height: 20px; margin:0;padding:0; border:0; float: left;}
.bottext{
	position:absolute;bottom:20px;left:88px
}
.size{
	width:290px;
	height:164px;
	position:relative;
	}
.fxd{
	margin:20px;
	float:left;
	}
.redbg{
	background: url('../../images/yhpc/red.png');
}
.bluebg{
	background: url('../../images/yhpc/blue.png');
}
.yellowbg{
	background: url('../../images/yhpc/yellow.png');
}
.orangebg{
	background: url(../../images/yhpc/orange.png);
}
.greybg{
	background: url(../../images/yhpc/gray.png);
}
.state{
	float: left;
	width: 88px;
	}
.text{padding-right:20px;padding-top:20px;}
.text dl{margin:0}
.text dd{color:#646464;}
.state img{
	width:40px;
	margin:56px 14px;
	}
